#product-overview h1 {
    color: #fff;
    font-family: 'Coda Caption', sans-serif;
}
.plan{
    background-color: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;    
    vertical-align: middle;
    border-radius: 5px;
}
.plan__annotation{
    color: #19b84c;
    background-color: #fff;
    font-size: 20px;
    font-family: 'Lemonada', cursive;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
}
.plan__title{
    color: #0e4f1f;
}
.plan__price{
    color: #858585
}
.plan--highlighted .plan__title{
    color: #fff;
}
.plan--highlighted .plan__price{
    color: #0e4f1f;
}
.plan ul.plan__features{
    list-style: none;
    margin: 0;  /*ul有默认的边距*/
    padding: 0;
}
.plan li.plan__feature{
    margin: 8px 0;
}
.plan h1{
    font-family: 'Lemonada', cursive;
}
.plan--highlighted{
    background-color: #19b84c;
    color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
#key-features{
    background-color: #ff1b68;;
    margin-top: 80px;
    padding: 16px;
}
#key-features>.section-title{
    color: #fff;
    margin: 32px;
}
.key-feature__list{
    list-style: none;
    margin: 0;  /*ul有默认的边距*/
    padding: 0;
    text-align: center;
}
.key-feature{
    display: inline-block;
    color: #fff;
    padding: 10px;
    width: 30%; /*如果不设置宽,当屏幕小的时候li会被自动的挤下去*/
    vertical-align: top;    /*当页面缩小的时候,文字会换行,这时文字不默认底部对齐,造成下移,所以必须去设置垂直布局*/
}
#key-features__description{
    text-align: center;
}
.key-feature__image{
    width: 128px;
    height: 128px;
    background-color: #ffcede;
    border: 2px solid #424242;
    border-radius: 50%; 
    margin: 0 auto;
}



* {
    box-sizing: border-box;
}


/*  在body中设置属性比body高 */

body {
    /* font-family: Courier, monospace; */
    margin: 0;
}

#product-overview{
    background: url("../images/freedom.jpg");
    height: 528px;
    padding: 10px;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}


.button{
    background-color: #0e4f1f;
    color: #fff;
    font: inherit;  
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover,
.button:active{
    background-color: #fff;
    color: #0e4f1f;
}
.button:focus{
    outline: none;
}
.main-header {
    width: 100%;
    background-color: #2ddf5c;
    padding: 8px 16px;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}
.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
}
.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 100px); /*必须有空格*/
    vertical-align: middle;
}

.main-nav__items {
    /* 重置外边距与内边距 */
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 10px;
}
.main-nav__item > a{
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}
/*伪类 
.main-nav__item > a:after{
    content: " (Link)";
    color: #f00;
} */
.main-nav__item a:hover,
.main-nav__item a:active{
    color: #fff;
    border-bottom: 5px solid #fff;
}
.main-nav__item--cta a{
    font-weight: 600;
    color: #fff;
    background-color: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}
.main-nav__item--cta a:active,
.main-nav__item--cta a:hover{
    color: #ff1b68;
    background-color: #fff;
    border: none;
}

.main-footer{
    background-color: black;
    padding: 32px;  /*这里的尺寸基本上是浏览器设置的默认尺寸*/
    margin-top: 48px;
}
.main-footer__links{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.main-footer__link{
    display: inline-block;
    margin: 0 16px;
}
.main-footer__link>a{
    text-decoration: none;
    color: #fff;
}
.main-footer__link>a:hover,
.main-footer__link>a:active{
    color: #ccc;
}
